# .NET 
bin/ 
obj/ 
 
# Angular / Node 
node_modules/ 
dist/ 
.angular/
out-tsc/ 
 
# Otros 
.vscode/ 
*.log 

# Ignorar carpetas de Visual Studio
.vs/
api/Testify/.vs/


# Archivos temporales de Angular/IDE
*.tmp
*.swp
*.sublime-workspace
*.sublime-project
.DS_Store          # Mac
Thumbs.db          # Windows

# Archivos de prueba / cobertura
coverage/
test-results/
