@if (isSpinnerVisible) {
  <div id="http-loader">
    <div class="loader-bg">

      <div class="loader-content">

        <!-- 🔵 SPINNER ORBITAL -->
        <div class="orbit-spinner">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>

        <!-- TEXTO -->
        <div class="loader-text">
          Espere un momento por favor<span class="dots"></span>
        </div>

      </div>

    </div>
  </div>
}
