.card {
  margin-top: 1rem;
  position: relative;
  border-radius: 6px;
  overflow: hidden; // importante para que el gradient respete bordes
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background: linear-gradient(
    90deg,
    #056297 0%,
    #3078b3 50%,
    #5ea1d8 100%
  );
}
