.grid-controls {
  .search-box, .page-size {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .search-box input, .page-size select {
    width: auto;
  }
}

.table-responsive {
  max-height: 50vh;
  overflow-y: auto;
}


.grid-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .pagination-left {
    ul.pagination {
      margin: 0;
    }
  }

  .total-right {
    font-weight: 500;
  }
}
