<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <!-- <div class="auth-header">
        <a href="javascript:">
          <img src="assets/images/logo-dark.svg" alt="logo" class="logo" />
        </a>
      </div> -->

      <div class="card login-card my-5">
        <div class="card-body">
          <h2 class="text-center mb-4"><b>Testify System</b></h2>

          <div class="form-group mb-3">
            <label for="email">Usuario</label>
            <input type="text" class="form-control" [value]="username()" (input)="username.set($any($event.target).value)" />
          </div>

          <div class="form-group mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" [value]="password()" (input)="password.set($any($event.target).value)" />
          </div>

          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary btn-login" (click)="onLogin()">Iniciar Sesión</button>
          </div>
        </div>
      </div>

      <div class="auth-footer text-center">
        <p class="m-0">
          Copyright © Testify
          <!-- <a href="https://www.contraloria.gob.ec/" target="_blank">testify</a> -->
        </p>
      </div>
    </div>
  </div>
  <img src="assets/images/authentication/logoFondoBlanco.png" class="fixed-icon" />
</div>
