.auth-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('~src/assets/images/authentication/testifyFondo.png') no-repeat center center;
  background-size: cover;
  position: relative;


  .fixed-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;  // Ajusta según el tamaño que quieras
  height: auto;
  z-index: 1000;  // Encima de todo
  pointer-events: none; // No interfiere con clicks
  border-radius: 48%;
}


  .auth-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

    .auth-form {
      width: 100%;
      max-width: 500px;
      text-align: center;
      position: relative;

      .auth-header {
        margin-bottom: 20px;

        .logo {
          width: 200px;
          height: auto;
          margin-bottom: 15px;
        }
      }

      .login-card {
        background: rgba(255, 255, 255, 0.95);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.3);
        padding: 30px;

        h3 {
          color: #333;
        }

        .form-control {
          border-radius: 8px;
          border: 1px solid #ccc;
          padding: 12px;
          transition: all 0.3s;

          &:focus {
            border-color: #199ba1;
            box-shadow: 0 0 8px rgba(37,117,252,0.5);
          }
        }

        .btn-login {
          background: #199ba1;
          border: none;
          border-radius: 8px;
          font-weight: bold;
          padding: 12px;
          transition: all 0.3s;

          &:hover {
            background: #343dc4;
          }
        }
      }

      .auth-footer {
        margin-top: 20px;
        color: #fff;

        a {
          color: #fff;
          text-decoration: underline;

          &:hover {
            color: #ffd700;
          }
        }
      }
    }
  }
}
