<app-spinner
    #spinnerExterno
  [manual]="true"
  [visible]="spinnerVisible()">
</app-spinner>

<div class="login-container">
  <div class="login-box">
    <div class="left-panel">
      <div class="logo-wrapper">
        <h1 class="glow-stroke-title">
          <span>T</span><span>E</span><span>S</span><span>T</span><span>I</span><span>F</span><span>Y</span>
        </h1>
        <p>Technical & Psychometric Assessments</p>
      </div>
      <div class="form-group input-icon">
        <i class="fas fa-user"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Usuario"
          [value]="username()"
          (input)="username.set($any($event.target).value)"
        />
      </div>
      <div class="form-group input-icon">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          class="form-control"
          placeholder="Contraseña"
          [value]="password()"
          (input)="password.set($any($event.target).value)"
        />
      </div>
      <div class="actions">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <button class="btn-login" (click)="onLogin()">Iniciar sesión</button>
      <div class="signup">
        ¿No tienes cuenta? <a href="#">Regístrate</a>
      </div>
    </div>
    <div class="right-panel">
      <div class="overlay">
      </div>
    </div>
  </div>
</div>
