
<app-spinner
    #spinnerExterno
  [manual]="true"
  [visible]="spinnerVisible()">
</app-spinner>


<div class="row">
  <div class="col-12 d-flex justify-content-end mb-2">

   <button type="button" class="btn btn-primary btn-sm" (click)="abrirModal()">
    <i class="fas fa-plus"></i>
    Nueva
  </button>
  </div>


  <div class="col-sm-12">
    <app-card cardTitle="Lista de Empresas">
      <app-grid
        [columnas]="columnas"
        [datos]="tiposFiltrados()" 
        [templates]="{ acciones: accionesTemplate }">
      </app-grid>

      <ng-template #accionesTemplate let-item>
        <span *ngFor="let accion of accionesTabla"
              class="accion-icono"
              [title]="accion.title"
              (click)="accion.callback(item)"
              [style.color]="accion.color">
          <i [class]="accion.icon"></i>
        </span>
      </ng-template>
    </app-card>

    <!-- ============================
         MODAL
    ============================ -->
    <app-modal
      [title]="tituloModal()"
      [visible]="modalVisible"
      (closed)="cerrarModal()">

      <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Ruc</label>
                <input
                type="text"
                class="form-control"
                [ngClass]="{
                    'is-invalid': rucTocado() && !ruc(),
                    'is-valid': rucTocado() && ruc()
                }"
                [value]="ruc()"
                (input)="ruc.set($any($event.target).value)"
                (blur)="rucTocado.set(true)"
                />
                <div class="text-danger mt-1" *ngIf="rucTocado() && !ruc()">
                El ruc es obligatorio
                </div>
          </div>


          <div class="col-md-6 mb-3">
            <label class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nombreTocado() && !nombre(),
                'is-valid': nombreTocado() && nombre()
              }"
              [value]="nombre()"
              (input)="nombre.set($any($event.target).value)"
              (blur)="nombreTocado.set(true)"
            />
            <div class="text-danger mt-1" *ngIf="nombreTocado() && !nombre()">
              El nombre es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-3">
              <label class="form-label">Dirección</label>
              <textarea
                class="form-control"
                [ngClass]="{
                'is-invalid': direccionTocado() && !direccion(),
                'is-valid': direccionTocado() && direccion()
              }"
                [value]="direccion()"
                (input)="direccion.set($any($event.target).value)"
                (blur)="direccionTocado.set(true)"
              ></textarea>
              <div class="text-danger mt-1" *ngIf="direccionTocado() && !direccion()">
                La descripción es obligatoria
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Estado</label>
              <select
                class="form-select"
                [value]="estado()"
                (change)="estado.set($any($event.target).value)">
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>
              </select>
            </div>


        </div>

        <!-- Botones -->
        <div class="mt-4 text-end">
          <button class="btn btn-success btn-sm" (click)="guardar()">
            <i class="fas fa-save"></i>
            Guardar
          </button>
          <button class="btn btn-danger btn-sm" (click)="cerrarModal()">
            <i class="fas fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>

    </app-modal>
  </div>
</div>
