USE [TestifyDB]
GO
CREATE PROCEDURE dbo.spActualizarCatalogo
@catId bigint,
@tipCatId bigint,
@catNombre varchar(200),
@catDescripcion varchar(200),
@catEstado char(1),
@usuIdReg int
AS        
BEGIN      
	update Catalogo
	set 
		tipCatId=@tipCatId,
		catNombre=@catNombre,
		catDescripcion=@catDescripcion,
		catEstado=@catEstado,
		usuIdAct=@usuIdReg,
		catFechaAct=SYSDATETIME()
	where catId=@catId

	SELECT @@ROWCOUNT AS RowsAffected;
END
